@inherits LayoutComponentBase
@inject CurrieTechnologies.Razor.SweetAlert2.SweetAlertService Swal
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <span>
                <a class="nav-item" @onclick="Logout">
                    Cerrar sesión
                </a>
            </span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private async Task Logout()
    {
        var result = await Swal.FireAsync(new SweetAlertOptions()
        {
            Title = "¿Estás seguro?",
            Text = "¿Desea cerrar sesión?",
            Icon = SweetAlertIcon.Question,
            ShowCancelButton = true,
            ConfirmButtonText = "Sí, cerrar sesión",
            CancelButtonText = "No, cancelar"
        });

        if (!string.IsNullOrEmpty(result.Value))
        {
            NavigationManager.NavigateTo("/");
        }
    }
}