


<h1 class="text-center"><strong>Facturación</strong></h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Delicias-Express</h3>
            <form>
                <div class="mb-3">
                    <label for="inputProducto" class="form-label">Producto</label>
                    <input type="text" class="form-control" id="inputProducto" placeholder="Ingrese el nombre del producto">
                </div>
                <div class="mb-3">
                    <label for="inputCantidad" class="form-label">Cantidad</label>
                    <input type="number" class="form-control" id="inputCantidad" placeholder="Ingrese la cantidad">
                </div>
                <div class="mb-3">
                    <label for="inputPrecio" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="inputPrecio" placeholder="Ingrese el precio">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Subtotal</h3>
            <p id="subtotal">$0.00</p>
            <h3>IVA</h3>
            <p id="iva">$0.00</p>
            <h3>Total</h3>
            <p id="total">$0.00</p>
        </div>
        <button type="button" class="btn btn-outline-primary mt-4">Pagar</button>

    </div>
</div>








@code {

}
