@page "/register"
@layout EmptyLayout
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject CurrieTechnologies.Razor.SweetAlert2.SweetAlertService Swal

<PageTitle>Delicias Express | Registro</PageTitle>

<EditForm Model="model" OnValidSubmit="RegisterUser" novalidate>
    <div class="wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-6 side-image">
                    <img src="logo-delicias.png" alt="logo"/>
                </div>
                <div class="col-md-5 right">
                    <div class="input-box">
                        <header>Registro</header>
                        <div class="input-field">
                            <InputText type="text" class="input" id="name" required autocomplete="off" @bind-Value="model.Nombre"/>
                            <label for="name">Nombre</label>
                        </div>
                        <div class="input-field">
                            <InputText type="text" class="input" id="email" required autocomplete="off" @bind-Value="model.Email"/>
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field">
                            <InputText type="tel" class="input" id="phone" required autocomplete="off" @bind-Value="model.Telefono"/>
                            <label for="phone">Número de telefono</label>
                        </div>
                        <div class="input-field">
                            <InputText type="text" class="input" id="address" required autocomplete="off" @bind-Value="model.Direccion"/>
                            <label for="address">Dirección</label>
                        </div>
                        <div class="input-field">
                            <InputText type="password" class="input" id="password" required @bind-Value="model.Password"/>
                            <label for="password">Contraseña</label>
                        </div>
                        <div class="input-field">
                            <InputText type="password" class="input" id="confirmPassword" required @bind-Value="model.ConfirmPassword"/>
                            <label for="password">Confirmar contraseña</label>
                        </div>
                        <div class="input-field">
                            <input type="submit" class="submit" value="Registrarse"/>
                        </div>
                        <div class="signin">
                            <span>¿Ya tiene una cuenta registrada? <a href="/">¡Inicie sesión!</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code
{
    private RegisterModel model = new RegisterModel();
    private string errorMessage;
    private bool IsPasswordValid;
    private bool IsConfirmPasswordValid;
    private EditContext editContext = new EditContext(new RegisterModel());

    protected override void OnInitialized()
    {
        editContext = new EditContext(model);
    }

    private async Task RegisterUser()
    {

        if (string.IsNullOrEmpty(model.Nombre) || string.IsNullOrEmpty(model.Email) || string.IsNullOrEmpty(model.Telefono) || string.IsNullOrEmpty(model.Direccion) || string.IsNullOrEmpty(model.Password) || string.IsNullOrEmpty(model.ConfirmPassword))
        {
            await Swal.FireAsync("Error", "Por favor, rellene todos los campos", SweetAlertIcon.Error);
            return;
        }
        
        var isValid = editContext.Validate();
        if (!isValid)
        {
            var validationMessages = editContext.GetValidationMessages();
            foreach (var message in validationMessages)
            {
                errorMessage = message;
            }

            await Swal.FireAsync("Error", errorMessage, SweetAlertIcon.Error);
            return;
        }

        IsPasswordValid = ValidatePassword(model.Password);
        IsConfirmPasswordValid = model.Password == model.ConfirmPassword;

        if (!IsPasswordValid)
        {
             errorMessage= "La contraseña debe tener al menos un carácter en mayúscula y al menos un carácter no alfanumérico.";
             await Swal.FireAsync("Error", errorMessage, SweetAlertIcon.Error);
            return;
        }

        if (!IsConfirmPasswordValid)
        {
            errorMessage = "Las contraseñas no coinciden.";
            await Swal.FireAsync("Error", errorMessage, SweetAlertIcon.Error);
            return;
        }

        var response = await Http.PostAsJsonAsync("http://localhost:8080/api/v1/User/register", model);

        if (response.IsSuccessStatusCode)
        {
            await Swal.FireAsync("Exito", "Registro exitoso", SweetAlertIcon.Success);
            NavigationManager.NavigateTo("/home");
        }
        else
        {
            errorMessage = await response.Content.ReadAsStringAsync();
            await Swal.FireAsync("Error", "No se pudo registrar. Por favor, inténtalo de nuevo", SweetAlertIcon.Error);
        }
    }

    private bool ValidatePassword(string password)
    {
        return password.Any(char.IsUpper) && password.Any(char.IsPunctuation);
    }

    public class RegisterModel
    {
        public string Nombre { get; set; } = string.Empty;
        public string Email { get; set; } = string.Empty;
        public string Telefono { get; set; } = string.Empty;
        public string Direccion { get; set; } = string.Empty;
        public string Password { get; set; } = string.Empty;
        public string ConfirmPassword { get; set; } = string.Empty;
    }
}

<style>
    .wrapper {
        background-color: #f1f1f1;
        padding: 0 20px 0 20px;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .row {
        width: 900px;
        height: 600px;
        border-radius: 10px;
        background: #fff;
        box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 0.2);
    }

    .side-image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        border-radius: 10px 0 0 10px;
    }

    img {
        width: 350px;
        position: absolute;
        top: 160px;
        left: 55px;
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .input-box {
        width: 330px;
        box-sizing: border-box;
    }

    .input-box header {
        font-weight: 950;
        text-align: center;
        margin-bottom: 45px;
    }

    .input-field {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0 10px 0 10px;
    }

    .input {
        height: 45px;
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid rgb(0, 0, 0, 0.2);
        outline: none;
        margin-bottom: 20px;
        color: #40414a;
    }

    .input-box .input-field label {
        position: absolute;
        top: 10px;
        left: 10px;
        pointer-events: none;
        transition: .3s;
    }

    .input-field .input:focus ~ label {
        top: -10px;
        font-size: 13px;
    }

    .input-field .input:valid ~ label {
        top: -10px;
        font-size: 13px;
        color: #5d5076;
    }

    .input-field .input:focus, .input-field .input:valid {
        border-bottom: 1px solid #747264;
    }

    .submit {
        border: none;
        outline: none;
        height: 45px;
        background: #FF6666;
        color: white;
        border-radius: 5px;
        transition: .4s;
    }

    .submit:hover {
        background: #FF0000;
    }

    .signin {
        text-align: center;
        font-size: small;
        margin-top: 25px;
    }

    span a {
        text-decoration: none;
        font-weight: 700;
        color: #FF6666;
        transition: .5s;
    }

    span a:hover {
        text-decoration: underline;
        color: #FF0000;
    }
</style>